version: '3.9'

services:
  backend:
    build: .
    container_name: django_backend
    command: >
      sh -c "
        echo 'Aguardando o banco de dados ficar pronto...'
        echo '--- Executando Suíte de Testes ---' &&
        python src/manage.py test produto filial estoque venda &&
        echo '--- Testes Concluídos (OK) ---' &&
        echo 'Iniciando o servidor Django...' &&
        python src/manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./src:/app/src
    ports:
      - "8000:8000"
    
    environment:
      - POSTGRES_NAME=${POSTGRES_DB} 
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

      - DB_HOST=db

      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
      
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    
    ports:
      - "5432:5432"

volumes:
  postgres_data:
